<div class="box">
    <header class="header">
        <p><span class="active">服务</span><span>金融</span></p>
        <p><i class="iconfont">&#xe65c;</i></p>
    </header>
    <main class="main">
        <div>
            <div class="swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><img src="Content/images/luno_02.jpg" alt=""></li>
                    <li class="swiper-slide"><img src="Content/images/luno_02.jpg" alt=""></li>
                    <li class="swiper-slide"><img src="Content/images/luno_02.jpg" alt=""></li>
                    <li class="swiper-slide"><img src="Content/images/luno_02.jpg" alt=""></li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>
            <div class="list">
                <ul>
                    <li><span style="background: #ff6666"><i class="iconfont">&#xe6cd;</i></span> 车商城</li>
                    <li><span style="background: #ff9d3e"><i class="iconfont">&#xe6d3;</i></span> 分期购车</li>
                    <li><span style="background: #ff6666"><i class="iconfont">&#xe681;</i></span> 团购活动</li>
                    <li><span style="background: #4183ff"><i class="iconfont">&#xe63a;</i></span> 找二手车</li>
                </ul>
            </div>
            <div class="subscribe">
                <img src="Content/images/yuyue_04.jpg" alt="">
            </div>
            <div class="owner">
                <h3>车主服务</h3>
                <ul>
                    <li><i class="iconfont">&#xe706;</i><span>油卡服务</span> </li>
                    <li><i class="iconfont">&#xe63a;</i><span>低价保险</span> </li>
                    <li><i class="iconfont">&#xe758;</i><span>4s点保养</span> </li>
                    <li><i class="iconfont">&#xe67a;</i><span>品质轮胎</span> </li>
                    <li><i class="iconfont">&#xe676;</i><span>车品商城</span> </li>
                    <li><i class="iconfont">&#xe65d;</i><span>洗车</span> </li>
                    <li><i class="iconfont">&#xe67d;</i><span>违章代缴</span> </li>
                    <li><i class="iconfont">&#xe67f;</i><span>免费测评</span> </li>
                    <li><i class="iconfont">&#xe675;</i><span>查周边</span> </li>
                    <li><i class="iconfont">&#xe60d;</i><span>车主卡</span> </li>
                    <li><i class="iconfont">&#xe685;</i><span>领券保养</span> </li>
                    <li><i class="iconfont">&#xe729;</i><span>全部</span> </li>
                </ul>
            </div>
            <div class="limit">
                <h3>限时抢购</h3>
                <div class="commodity">
                    <div>
                        <dl ng-repeat="limits in limit"><dt><img src="{{limits.dt}}" alt=""></dt><dd>{{limits.dd}}</dd><p>{{limits.pp}} <small>{{limits.small}}</small></p></dl>
                    </div>
                </div>

            </div>
            <div class="activity">
                <h3>活动专区 <span>更多活动 ></span></h3>
                <div>
                    <dl>
                        <dd></dd>
                        <dt><img src="" alt=""></dt>
                    </dl>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <ul>
            <li><i class="iconfont"></i> 首页</li>
            <li><i class="iconfont"></i> 论坛</li>
            <li><i class="iconfont"></i> 选车</li>
            <li><i class="iconfont"></i> 发现</li>
            <li><i class="iconfont"></i> 未登录</li>
        </ul>
    </footer>
</div>